@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.drawer {
  padding: 35px;
}

h1.title {
  color: #F44336;
  display: inline-block;
  font-size: 25px;
  margin-top: 0px;
}

ul.contact-us-list {
  padding: 0;
}

.contact {
  height: 45px;
}
div.reviews {
  margin-top: 5px;
}
.album{
  margin-top: 5px;
  margin-bottom: 50px;
  height: 25%;
}
img.images {
  object-fit: cover;
  max-width: 47%;
  width: 100%;
  height: 135px;
  padding: 3px ;
  padding-bottom: 0;
  margin: 16px 0;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}

.reviews {
  color: grey;
}
.reviewer {
  color: #F44336;
}