/*Raleway font from Google Web Fonts*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i");

button {
  color: white;
}

.facebook-login {
  font-size: 20px;
  display:block !important;
  width: 20%;
  color: white !important;
  display: block;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -85%);
}

#status {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: white;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  z-index: 1;
}

.bg {
  /* The image used */
  background-image: url("/images/login.gif");
  /* Full height */
  height: 110%;
  width: 110%;
  left: -5px;
  top: -5px;
  filter: brightness(25%) blur(2px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.login-title {
  font-family: 'Raleway', sans-serif;
  font-size: 175px;
  z-index: 1;
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.login-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  z-index: 1;
  color: white;
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -52%);
}