/*Raleway font from Google Web Fonts*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300");

button {
  color: white;
}

.facebook-login {
  font-size: 20px;
  display:block !important;
  width: 20%;
  color: white !important;
  display: block;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}

.bg {
  /* The image used */
  background-image: url("/images/login.gif");
  /* Full height */
  height: 100%;
  width: 100%;
  filter: brightness(30%);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.login-title {
  font-family: 'Raleway', sans-serif;
  font-size: 175px;
  z-index: 1;
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}