.facebook-login {
  font-size: 20px;
  margin: auto !important;
  display:block !important;
  width: 20%;
  color: white;
  text-decoration-color: white;
  display: block;
}

.bg {
  /* The image used */
  background-image: url("/images/login.gif");
  /* Full height */
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}