@import url("https://fonts.googleapis.com/css?family=Raleway:300");

.avatar {
  margin: 5% 5% 0 ;
}
.user-name {
  color: #f44336;
  font-size: 200%;

}
.user-email {

}
.profile-buttons {
  margin: auto;
  text-align: center;
  display: inline-block;
}
.root {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-title {
  font-size: 150%;
  color: #f44336;
}

.grid-subtitle {
  color: black;
}

.favourites-container {
  position: fixed;
  overflow-y: auto;
  width: 95%;
  height: 65%;
  padding: 0 5%;
}

.favourites-details {
  font-size: 200%;
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.food-tile {

}