.progress {
  align-content: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.map {
  height: 100vh;
}

.badge {
  position: absolute !important;
  left: 5px;
  bottom: 25px;
}

.price-button {
  position: fixed;
}

.card-container {
  overflow: auto;
  position: fixed;
  height: 90%;
}

.card {
  margin: 20px;
  position: relative;
}

.card-title{
  padding-left: 50px !important;
}

.card-image {
  min-width: 100%;
  min-height: 60%;
  max-height: 400px;
  object-fit: cover;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  border-radius: 5px 5px 0 0 ;
}